.DS_Store
.build/
/.docc-build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
Sources/Cambium/Cambium.docc/.docc-build/
